name: Update examples version

permissions:
  contents: read

on:
  repository_dispatch:
    types: [ update-examples ]

defaults:
  run:
    shell: pwsh

jobs:
  update-examples-version:
    if: ${{ github.event_name == 'repository_dispatch' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Auth and Checkout
        id: auth_and_checkout
        uses: gittools/cicd/auth-checkout@main
        with:
          op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          fetch-depth: 0

      - run: |
          $oldTag = "${{ github.event.client_payload.oldTag }}"
          $newTag = "${{ github.event.client_payload.newTag }}"

          . .\utilities.ps1 # Import the functions
          dir -r .\package.json   | % { update-files $_ -OldVersion $oldTag -NewVersion $newTag }
          dir -r .\docs\**\*.md   | % { update-files $_ -OldVersion $oldTag -NewVersion $newTag }
          dir -r .github\**\*.yml | % { update-files $_ -OldVersion $oldTag -NewVersion $newTag }
          dir -r .azure\**\*.yml  | % { update-files $_ -OldVersion $oldTag -NewVersion $newTag }

          npm install --ignore-scripts
        name: Update examples version

      - uses: gittools/cicd/git-commit-push@main
        with:
          message: "update examples version to ${{ github.event.client_payload.newTag }}"
        name: Commit and push updated examples version
