name: Update examples version

permissions: read-all

on:
  repository_dispatch:
    types: [ update-examples ]

defaults:
  run:
    shell: pwsh

jobs:
  update-examples-version:
    if: ${{ github.event_name == 'repository_dispatch' }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.PUSH_GITHUB_TOKEN }}
      - run: |
          $oldTag = "${{ github.event.client_payload.oldTag }}"
          $newTag = "${{ github.event.client_payload.newTag }}"

          . .\utilities.ps1 # Import the functions
          dir -r .\package.json   | % { update-files $_ -OldVersion $oldTag -NewVersion $newTag }
          dir -r .\docs\**\*.md   | % { update-files $_ -OldVersion $oldTag -NewVersion $newTag }
          dir -r .github\**\*.yml | % { update-files $_ -OldVersion $oldTag -NewVersion $newTag }
          dir -r .azure\**\*.yml  | % { update-files $_ -OldVersion $oldTag -NewVersion $newTag }

          git add --verbose .
          git config user.name 'gittools-bot'
          git config user.email 'gittoolsbot@outlook.com'
          git commit -m "update examples version to $newTag" --allow-empty
          git push --force
        name: Update examples version
