name: Update GitVersion version

permissions: read-all

on:
  repository_dispatch:
    types: [ gitversion-release-published ]

defaults:
  run:
    shell: pwsh

jobs:
  update-gitversion-version:
    if: ${{ github.event_name == 'repository_dispatch' }}
    runs-on: ubuntu-24.04
    steps:

      - name: Generate GitHub App Token
        id: app-token
        uses: ./.github/actions/create-push-token
        with:
          app-id: ${{ secrets.GITTOOLS_BOT_APP_ID }}
          private-key: ${{ secrets.GITTOOLS_BOT_APP_PRIVATE_KEY }}

      - uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}

      - run: |
          $newTag = "${{ github.event.client_payload.tag }}"

          echo "Updating GitVersion version to $newTag"
          git add --verbose .
          git config user.name 'gittools-bot'
          git config user.email 'gittoolsbot@outlook.com'
          git commit -m "update GitVersion version to $newTag" --allow-empty
          git push --force
        name: Update GitVersion version
