name: prerelease

permissions:
  contents: read

on:
  release:
    types: [ prereleased ]

defaults:
  run:
    shell: pwsh

jobs:
  prerelease:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-24.04 ]
    steps:

      - name: Load secrets from 1Password
        id: op-load-secret
        uses: 1password/load-secrets-action@v3
        with:
          export-env: false
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          gh_app_id: op://gittools/actions/gh_app_id
          gh_app_private_key: op://gittools/actions/gh_app_private_key.pem
          tfx_token: op://gittools/actions/tfx_token

      - name: Generate GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ steps.op-load-secret.outputs.gh_app_id }}
          private-key: ${{ steps.op-load-secret.outputs.gh_app_private_key }}
          owner: gittools
          repositories: |
            actions
          permission-actions: write
          permission-contents: write
          permission-workflows: write
          permission-members: read
          permission-metadata: read

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}

      - run: |
          npm install --ignore-scripts
          npm run build:tools
          npm run build:agent:github
          npm run build:agent:azure
        name: Build code

      - name: Install GitVersion
        uses: ./gitversion/setup
        with:
          versionSpec: '6.6.x'

      - name: Use GitVersion
        id: gitversion # step id used as a reference for output values
        uses: ./gitversion/execute

      - name: Publish To Azure Marketplace
        id: publish-azure
        uses: ./.github/actions/publish-azure
        with:
          mode: 'test'
          major: ${{ steps.gitversion.outputs.major }}
          minor: ${{ steps.gitversion.outputs.minor }}
          patch: ${{ steps.gitversion.outputs.patch }}
          token: ${{ steps.op-load-secret.outputs.tfx_token }}

      - name: Generate GitHub App Release Token
        id: release-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ steps.op-load-secret.outputs.gh_app_id }}
          private-key: ${{ steps.op-load-secret.outputs.gh_app_private_key }}
          owner: gittools
          repositories: |
            actions
            actions-test
          permission-actions: write
          permission-contents: write
          permission-workflows: write

      - name: Trigger Update Examples version (actions-test)
        id: get-tags
        uses: ./.github/actions/trigger-action-test
        with:
          mode: 'test'
          majorMinorPatch: ${{ steps.gitversion.outputs.majorMinorPatch }}
          token: ${{ steps.release-token.outputs.token }}
