name: release

permissions:
  contents: read

on:
  release:
    types: [ released ]

defaults:
  run:
    shell: pwsh

jobs:
  release:
    if: github.event.release.prerelease == false
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-24.04 ]
    steps:
      - name: Auth and Checkout
        id: auth_and_checkout
        uses: gittools/cicd/auth-checkout@main
        with:
          op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          fetch-depth: 0

      - run: |
          npm install --ignore-scripts
          npm run build:tools
          npm run build:agent:github
          npm run build:agent:azure
        name: Build code

      - name: Install GitVersion
        uses: ./gitversion/setup
        with:
          versionSpec: '6.6.x'

      - name: Install GitReleaseManager
        uses: ./gitreleasemanager/setup
        with:
          versionSpec: '0.20.x'

      - name: Use GitVersion
        id: gitversion # step id used as a reference for output values
        uses: ./gitversion/execute

      - name: Load secrets from 1Password
        id: op-load-secret
        uses: 1password/load-secrets-action@v3
        with:
          export-env: false
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          gh_app_id: op://gittools/actions/gh_app_id
          gh_app_private_key: op://gittools/actions/gh_app_private_key.pem
          tfx_token: op://gittools/actions/tfx_token

      - name: Generate GitHub App Release Token
        id: release-token
        uses: actions/create-github-app-token@v2
        with:
          owner: gittools
          repositories: |
            actions
            actions-test
          app-id: ${{ steps.op-load-secret.outputs.gh_app_id }}
          private-key: ${{ steps.op-load-secret.outputs.gh_app_private_key }}
          permission-actions: write
          permission-contents: write
          permission-issues: write
          permission-workflows: write

      - name: Update Release Notes
        uses: ./gitreleasemanager/create
        with:
          token: ${{ steps.release-token.outputs.token }}
          repository: ${{ github.repository }}
          milestone: "v${{ steps.gitversion.outputs.majorMinorPatch }}"
          name: "v${{ steps.gitversion.outputs.majorMinorPatch }}"
          isPreRelease: ${{ github.event.release.prerelease }}
          targetcommitish: "main"

      - name: Publish To Azure Marketplace
        id: publish-azure
        uses: ./.github/actions/publish-azure
        with:
          mode: 'prod'
          major: ${{ steps.gitversion.outputs.major }}
          minor: ${{ steps.gitversion.outputs.minor }}
          patch: ${{ steps.gitversion.outputs.patch }}
          token: ${{ steps.op-load-secret.outputs.tfx_token }}

      - name: Add Assets
        uses: ./gitreleasemanager/addasset
        with:
          token: ${{ steps.release-token.outputs.token }}
          repository: ${{ github.repository }}
          milestone: "v${{ steps.gitversion.outputs.majorMinorPatch }}"
          assets: ${{ steps.publish-azure.outputs.vsix }}

      - name: Close Release
        uses: ./gitreleasemanager/close
        with:
          token: ${{ steps.release-token.outputs.token }}
          repository: ${{ github.repository }}
          milestone: "v${{ steps.gitversion.outputs.majorMinorPatch }}"

      - name: Trigger Update Examples version (actions-test)
        id: get-tags
        uses: ./.github/actions/trigger-action-test
        with:
          mode: 'prod'
          majorMinorPatch: ${{ steps.gitversion.outputs.majorMinorPatch }}
          token: ${{ steps.release-token.outputs.token }}

      - name: Trigger Update Examples version (actions)
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ steps.release-token.outputs.token }}
          repository: ${{ github.repository }}
          event-type: update-examples
          client-payload: |-
            {
              "oldTag": "${{ steps.get-tags.outputs.oldTag }}",
              "newTag": "${{ steps.get-tags.outputs.newTag }}"
            }
